.corpo {
    background-color: rgb(19, 18, 18);
    border-radius: 17px;
    border: 3px solid grey;
    padding: 10px 25px 0px 25px;
}


.titulo {
    font-size: 17px;
    width: 250px;  /* Define a largura máxima */
    white-space: nowrap; /* Impede que o texto quebre a linha */
    overflow: hidden; /* Esconde o conteúdo que ultrapassa */
    text-overflow: ellipsis; /* Adiciona "..." no final */

}

.bolinha {
    margin-top:7.5px;
    margin-right: 7px;
    margin-left: 3px;
    display: block;
    background-color: gray;
    width: 10px;
    height: 10px;
    border-radius: 20px;
}

.detalhes p {
    font-size: 17px;
    padding: 5px;
    border-radius: 7px;
}

.dropado {
    background-color: rgb(199, 65, 65);
}

.finalizado {
    background-color: rgb(43, 150, 43);
}

.em_andamento {
    background-color: rgb(207, 207, 58);
}

.em_andamentoa {
    border: 2.5px solid rgb(207, 207, 58);
}

.finalizadoa {
    border: 2.5px solid rgb(43, 150, 43);
}

.dropadoa {
    border: 2.5px solid rgb(199, 65, 65);
}

.caps {
    min-width: 70px;
    border: 2.5px solid gray;
}

.titulo h3 {
    margin-bottom: 3px;
}

.detalhes {
    display: flex;
    justify-content: space-between;
    min-width: 0px;
}


.exceto {
    min-width: 142px;
    display: flex;
}

.descricao {
    padding: 7px;
    border: 2.5px solid grey;
    height: 100px;
    border-radius: 7px;
    font-size: 13px;
}

.nota {
    display: flex;
    justify-content: space-between;
}

.nota p {
    padding: 7px;
    border-radius: 7px;
}

.cor0 {
    border: 2.5px solid rgb(199, 65, 65);
}

.cor1 {
    border: 2.5px solid rgb(180, 78, 62);
}

.cor2 {
    border: 2.5px solid rgb(161, 91, 60);
}

.cor3 {
    border: 2.5px solid rgb(142, 104, 57);
}

.cor4 {
    border: 2.5px solid rgb(123, 117, 55);
}

.cor5 {
    border: 2.5px solid rgb(104, 130, 52);
}

.cor6 {
    border: 2.5px solid rgb(90, 135, 50);
}

.cor7 {
    border: 2.5px solid rgb(80, 140, 48);
}

.cor8 {
    border: 2.5px solid rgb(70, 145, 46);
}

.cor9 {
    border: 2.5px solid rgb(57, 148, 45);
}

.cor10 {
    border: 2.5px solid rgb(43, 150, 43);
}

.botao  {
    margin-top: 14px;
    background-color: grey;
    height: 40px;
    border-radius: 11px;
    color: white;
    font-weight: bolder;
    border: 3px solid rgb(19, 18, 18);
    padding-left: 13px;
    padding-right: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
}

.botao p:hover {
    color: gold;
}

